<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Event Horizon</title>
</head>
<body>
  <header>
    <mat-toolbar color="primary">
      <span class="navbar-left">
        <button mat-flat-button color="accent" routerLink="/home">Home</button>
        <button mat-flat-button color="accent" routerLink="/add-event">Add Event</button>
      </span>
      <span class="navbar-right">
        <button mat-flat-button color="accent" routerLink="/login">Login</button>
        <button mat-flat-button color="accent" routerLink="/register">Register</button>
      </span>
    </mat-toolbar>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>© 2023 Event Horizon</p>
  </footer>
</body>
</html>
